.navbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
}

.navbar__item {
  font-size: 1.6rem;
  padding: 2rem;
  transition: 1s;
}

.navbar__item:hover {
  background-color: blueviolet;
}

.navbar__item > a {
  text-decoration: none;
  color: white;
}
.selected {
  border-bottom: 5px solid var(--main-purple);
}