:root {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;

  --main-black: #0d1117;
  --main-purple: #8500d3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  background-color: var(--main-black);
  color: white;
}

li {
  list-style: none;
}